<AuthorizeView>
    <NotAuthorized>
        <a href="/Identity/account/Login">Sign in</a>
        <a href="/Identity/account/Register">Register</a>
    </NotAuthorized>
    <Authorized>
        <a href="/Identity/account/Logout">Sign out</a>
    </Authorized>
</AuthorizeView>

@code {

}
